#include <winver.h>
#include "globals.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION EIEM_VERSION_MAJOR,EIEM_VERSION_MINOR,EIEM_VERSION_PATCH,0
PRODUCTVERSION EIEM_VERSION_MAJOR,EIEM_VERSION_MINOR,EIEM_VERSION_PATCH,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "EFF - Endfield Mod Framework"
            VALUE "FileVersion", EIEM_VERSION ".0"
            VALUE "InternalName", "eff"
            VALUE "OriginalFilename", "eff.dll"
            VALUE "ProductName", "EFF"
            VALUE "ProductVersion", EIEM_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
